.containerAuth {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.auth {
  height: 360px;
  width: 320px;
  border: 3px solid #07ad90;
  border-radius: 3px;
  padding: 50px;

  h2 {
    text-align: left;
    font-size: 2em;
    color: #07ad90;
    margin: 0;
  }
  label {
    margin-top: 5px;
    font-size: 14px;
    color: #DA3544;
  }


  input {
    width: 100%;
    margin-top: 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid #07ad90;
  }
  ::placeholder{

  }
  button {
    margin-top: 35px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 130px;
    padding: 5px;
    background: #07ad90;
    color: white;
    &:disabled {
      background: #CECECE;
      color: #B6B6B6;
      cursor: not-allowed;
    }
  }
}