header {
  display: flex;
  justify-content: space-around;
  .logout {
    margin-left: 15px;
    font-weight: bold;
  }
  .mainTitle a {
    color: white;
  }
  .auth {
    display: flex;
    align-items: center;
    a {
      font-weight: bold;
      color: white;
      text-decoration: none;
      &:not(:first-child) {
        margin-left: 20px;
      }
      &:hover {
        //color: darkviolet;
      }
    }
  }
}