header {
  display: flex;
  justify-content: space-around;
  .auth {
    display: flex;
    align-items: center;
    a {
      font-weight: bold;
      font-size: 20px;
      color: white;
      text-decoration: none;
      &:not(:first-child) {
        margin-left: 20px;
      }
      &:hover {
        color: darkviolet;
      }
    }
  }
}