.task {
  display: flex;
  align-items: center;
  width: 50%;
  margin-top: 15px;
  border-bottom: 2px solid #ccc;
  button {
    margin-left: 10px;
  }
  .completed {
    text-decoration: line-through;
  }
  input {
    width: 24px;
    height: 24px;
    margin-left: auto;
  }
}