.App {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    header {
        width: 100%;
        color: #fff;
        padding: 10px;
        background: #0B95DD;
    }
    //.mainTitle {
    //    margin-top: 70px;
    //}
}
