.App {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    header {
        width: 100%;
        color: #fff;
        padding: 10px;
        background: #0B95DD;
    }
    .containerAddBtn {
        width: 100%;
        display: flex;
        margin-top: 20px;
        justify-content: center;
        button {
            width: 150px;
        }
    }
}
.containerTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.sortPanel {
    width: 50%;
    margin-left: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    i:not(:first-child) {
        margin-left: 10px;
    }
}
